<div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="#"><img src="shop/img/logo.png" alt=""></a></div>
        <ul class="links">
          <li><a href="/">Trang Chủ</a></li>
          <li><a href="/shop">Cửa Hàng</a></li>
          <li>
            <a href="#" class="desktop-link">Các Trang</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Các Trang</label>
            <ul>
              <li><a href="/shopcart">Giỏ Hàng</a></li>
              <li><a href="/checkout">Thanh Toán</a></li>
              <li><a href="/blogdetail">Blog Chi Tiết</a></li>
            </ul>
          </li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/contact">Liên Hệ</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><a class="dropdown-toggle"  role="button" data-toggle="dropdown">
						<span  class="user-icon">
						<a href="/admin">	<img style="border-radius: 40px; margin-top: -63px;" src="/vendors/images/photo1.jpg" alt=""></a>
						</span>

					</a></label>
    </nav>
  </div>