<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/shop/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/style.css" type="text/css">
</head>

<body>
    

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="shop/img/logo.png" alt=""></a>
        </div>
      
       
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
       
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
   
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Tất Cả Thể Loại</span>
                        </div>
                        <ul>
                                <li><a href="/shop">Khoa Học Và Viễn Thưởng</a></li>
                                <li><a href="/shop">Lập Trình</a></li>
                                <li><a href="/shop">Kinh Doanh</a></li>
                                <li><a href="/shop">Tiểu Thuyết Gia</a></li>
                                <li><a href="/shop">Trinh Thám</a></li>
                                <li><a href="/shop">Truyện Tranh Và Hình ảnh</a></li>
                                <li><a href="/shop">Nấu Ăn Và Thực Phẩm</a></li>
                                <li><a href="/shop">Giáo Dục Và Tư Duy</a></li>
                                <li><a href="/shop">Kinh Dị Và Hành Động</a></li>
                                <li><a href="/shop">Ngôn Ngữ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                   Tất Cả Danh Mục
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">Tìm Kiếm</button>
                            </form>
                        </div>
                        
                    </div>
                    <div class="hero__item set-bg" data-setbg="shop/img/hero/anhdaidien.jpg">
                        <div class="hero__text">
                            <span>THẾ GIỚI SÁCH</span>
                            <h2>KIẾN THỨC<br />100% HÀNG CHÍNH HẢNG</h2>
                            <p style="color: aliceblue;">Free Ship Cho Lần Đăng Kí Đầu Tiên</p>
                            <a href="#" class="primary-btn">MUA NGAY</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="shop/img/categories/bookcook.jpg">
                            <h5><a href="#">Ẩm Thuật</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="shop/img/categories/bookprogram.jpg">
                            <h5><a href="#">Lập Trình</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="shop/img/categories/booknovel.jpg">
                            <h5><a href="#">Nghệ Thuật</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="shop/img/categories/bookbusiness.jpg">
                            <h5><a href="#">Kinh Doanh</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="shop/img/categories/cat-5.jpg">
                            <h5><a href="#">Nấu Ăn</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>SẢN PHẨM</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Tất Cả</li>
                            <li data-filter=".oranges">Âm Nhạc</li>
                            <li data-filter=".fresh-meat">Kinh Doanh</li>
                            <li data-filter=".vegetables">Lập Trình</li>
                            <li data-filter=".fastfood">Ẩm Thực</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {{#each course }}
                <div class="col-lg-3 col-md-4 col-sm-6 mix">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="/uploads/{{ this.images  }}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="/courses/{{this.slug}}">{{ this.name }}</a></h6>
                            <h5>{{ this.money }}</h5>
                        </div>
                    </div>
                </div>

                {{/each }}
            </div>
            <div id="load-more"> Xem Thêm</div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="shop/img/banner/anh 1.jpg" alt="">
                        <h2 class="book">Kiến Thức</h2>
                        <p class="freeship">Free Ship Cho Đơn Hàng Đầu Tiên</p>
                        <a href="#" class="primary-btn  btnmua">MUA NGAY</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="shop/img/banner/anh 2.jpg" alt="">
                        <h2 class="book1">Kiến Thức</h2>
                        <p class="freeship1">Free Ship Cho Đơn Hàng Đầu Tiên</p>
                        <a href="#" class="primary-btn  btnmua1">MUA NGAY</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

   

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>The Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="shop/img/blog/blog1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> 1 thg12,2021</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Claude Monet</a></h5>
                            <p>Claude Monet  là một trong những người tiên phong sáng lập trường phái hội họa ấn tượng. Trong thời gian đầu, những bức tranh “vượt chuẩn” ấy đã phải chịu sự ghẻ lạnh của từ các phòng trưng bày bất chấp sự độc đáo và những hiệu ứng mới mẻ.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="shop/img/blog/blog2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> 10 thg12, 2021</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">An Nhiên Giữa Những Thăng Trầm</a></h5>
                            <p>Có lẽ ai trong chúng ta cũng đều biết rằng, cuộc sống này đầy những thăng trầm, biến động. Những lần rơi vào cô đơn giữa chốn người mênh mông. Lúc đó, chợt nhận ra mình quá đơn độc, yếu đuối và mong manh vô cùng. Hay những […]</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="shop/img/blog/blog3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> 5 thg 12, 2021</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Giá ngày tháng ấy có người hiểu tôi...</a></h5>
                            <p>Cuốn sách tràn ngập trong sắc xám của cảm xúc, những mảng hồng đã bị thổi bay đi rất xa xôi, chỉ còn những vụn vỡ, xót xa, những nỗi đau đủ mọi cung bậc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="shop/img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="shop/img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>

            <div class="row">
                    <div class="col-sm-12">
                        <div class="page-top">
                            <a href="#top">
                                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/shop/js/jquery-3.3.1.min.js"></script>
    <script src="/shop/js/bootstrap.min.js"></script>
    <script src="/shop/js/jquery.nice-select.min.js"></script>
    <script src="/shop/js/jquery-ui.min.js"></script>
    <script src="/shop/js/jquery.slicknav.js"></script>
    <script src="/shop/js/mixitup.min.js"></script>
    <script src="/shop/js/owl.carousel.min.js"></script>
    <script src="/shop/js/main.js"></script>

 
 <script>
    $(".col-lg-3.col-md-4.col-sm-6.mix").slice(0 , 4).show()
    $("#load-more").on("click" , function(){
        $(".col-lg-3.col-md-4.col-sm-6.mix:hidden").slice(0 , 4).slideDown()
    })
 </script>

</body>

</html>